@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    background-image: radial-gradient(80% 50%,rgb(214, 225, 186), #ADEBDE);
    background-color: #ADEBDE;
}

a:hover {
    text-decoration: none;
}

a {
    color: #A46D1A;
    font-size:30px;
    font-weight: bolder;
    text-shadow: 1px 1px rgba(0, 0, 0, 40%);
    font-family: "Amatic SC";
}

section,
footer {
    margin: 80px 0 100px;
}

footer {
    margin-bottom: 40px;
}

h2,
h3 {
    color: #FFA606;
    font-size: 30px;
    font-family: "Amatic SC";
}

h3 {
    text-shadow: 1px 1px rgba(0, 0, 0, 40%);
    font-weight: 1000;
    font-size: 50px;
}

p {
    text-align: justify;
    font-size: 30px;
    font-family: "Amatic SC";
}

i {
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-size: 40px;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

i:hover {
    background-color: #FED792;
}

ul {
    font-size: 30px;
    text-align: left;
    padding-right: 17px;
    list-style: circle;
    line-height: 60px;
    font-family: "Amatic SC"
}

.header {
	width: 100%;
    margin-top: 30px;
}

.header-inner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

.line {
    background-color: #FFEEF1;
}

.line.horizontal {
    height: 1px;
    max-width: 90%;
    margin: 20px auto 20px;
}

.line.horizontal.bottom {
    margin-top: 0;
}


.line.vertical {
    height: 90vh;
    max-width: 5px;
    margin: 20px auto;
}

.footer {
    text-align: left;
}
.fa-envelope{
    color: #FFEEF1;
}

.fa-facebook-square{
    color: #FFEEF1;
}

.fa-instagram{
    color: #FFEEF1;
}

@media screen and (max-width: 1100px) {
    section,
    footer {
        margin: 40px 0 10px;
    }

    h2 {
        font-size: 17px;
        margin-left: 15px;
    }

    h3 {
        font-size: 22px;
        text-align: center;
    }

    p {
        font-size: 15px;
        margin-top: 10px;
    }

    i {
        font-size: 32px;
    }

    li {
        font-size: 15px;
    }

    .header-inner img {
        width: 35vw;
        border-radius: 50%;
    }

    .mobile {
        box-sizing: unset;
        margin: auto;
    }
}